/* Sort styles */
.sort-icon {  
  margin-left: 5px;
  position: relative;
  width: 10px;
  height: 15px;
}

.sort-icon .fas {
  opacity: 0.3;
  position: absolute;
}

.sort-icon .fa-sort-up {
  top: 0;
}

.sort-icon .fa-sort-down {
  bottom: 0;
}

.sort-icon.asc .fa-sort-up,
.sort-icon.desc .fa-sort-down {
  opacity: 1;
  color: #0d6efd;
}

.sorting {
    width: 100%;
    background-color: #0d6efd;
  cursor: pointer;
  position: relative;
  padding-right: 20px;
  user-select: none;
  transition: background-color 0.3s;
}

.sorting:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
